*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Gilroy";
}
html,body{
    height:100%;
    width:100%;
}
#main{
    position: relative;
    width:100%;
    /* height: 100px; */
}
#loader{
    display: none;
    z-index: 9999;
    position: fixed;
    height:100vh;
    width:100%;
    background-color: rgb(39, 38, 38);
    color: white;
}
#loader #topheading{
    position: absolute;
    top:5%;
    left:50%;
    transform: translate(-50% , 0%);
}
#topheading h5{
    text-align: center;
}
#loader h1{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 4vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-weight: 500;
}
#green{
    display: none;
    height: 0vh;
    width:100%;
    z-index: 999;
    position: absolute;
    top:100%;
    background-color: rgba(0, 255, 170, 0.856);
}
.reveal .parent{
    width: 100%;
    display:flex;
    justify-content: center;
    overflow-y: hidden;
}
.reveal .parent .child{
    display: block;
}
.child span{
    display: inline-block;
}
#home{
    width: 100%;
    height:200vh;
    background-color:white;
}

#home #nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    height: 100px;
    width: 100%;

}
#home #nav a{
    z-index: 999;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 300;
    font-size: 14px;
    color:#000;
}
#nav a .line{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 1px;
    left:0;
    bottom:0;
    transition: all cubic-bezier(0.23, 1, 0.320, 1) 1s;
    background-color:#000;
}
#nav a .line1{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 1px;
    right:0;
    bottom:0;
    transition: all cubic-bezier(0.23, 1, 0.320, 1) 1s;
    background-color:#000;
}
#nav a .line1{
    left: 0;
}
#nav a .line2{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 1px;
    left:0;
    bottom:0;
    transition: all cubic-bezier(0.23, 1, 0.320, 1) 1s;
    background-color:#000;
}
#nav a .line3{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 1px;
    right:0;
    bottom:0;
    transition: all cubic-bezier(0.23, 1, 0.320, 1) 1s;
    background-color:#000;
}
#nav a:hover .line{
    height: 5px;
    left: 0;
    width:0;
}
#nav a:hover .line1{
    height: 5px;
    width:0;
    left:0;
}
#nav a:hover .line2{
    width:0;
}
#nav a:hover .line3{
    width:0;
}
#first{
    padding-top: 60px;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 220px;
    color: #000;
}
#second{
    padding-top: 40px;
    overflow: hidden;
    width: 100%;
    height: 200px;
    color: #000;
}
#first h1{

    display: flex;
    justify-content:baseline ;
    padding-top: 20px;
    padding-left: 110px;
    font-size: 10vw;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#second h1{
    display: flex;
    justify-content:baseline ;
    padding-left: 200px;
    font-size: 10vw;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 20px;
}
#second h1 span{
    padding-left: 150px;
    color: rgb(105, 206, 173);
    font-style:italic;
}
#first h5{
    margin-top: 40px;
    margin-left:110px;
    height: 4vh;
    font-size:13px;
    opacity: 0;
    width: 187.84px;
    text-transform: uppercase;

}
#first h4{
    margin-top: 40px;
    margin-left:110px;
    height: 4vh;
    font-size:13px;
    opacity: 0;
    width: 85px;
    text-transform: uppercase;
}
#images{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 13vw;
    padding: 7vw 7vw;
}
#images .imagelef{
    width:35%;
    height: 220px;
}
#images .imagelef h1{
    text-transform: uppercase;
    color: #333;
    font-size: 2vw;
    font-weight: 600;
}
.imgrig{
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60%;
    height: auto;
    margin-top: 60px;
}
.imgrig .imgcon{
    position: absolute;
    width: 30vw;
    height: 45vw;
    border-radius: 1vw;
    background-color: red;
    filter: grayscale();
    transition: all cubic-bezier(0.23, 1, 0.320, 1) 1s;
    z-index: 999;
}
.imgrig .imgcon:hover{
    filter: grayscale(0);
}
.imgrig .imgcon:nth-child(1){
    transform: translate(-40%, -0%) rotate(-5deg);
    background-image: url(one.jpg);
    background-position: center;
    background-size: cover;
}
.imgrig .imgcon:nth-child(2){
    transform: translate(-10% ,5%) rotate(-5deg);
    background-image: url(two.jpg);
    background-position: center;
    background-size: cover;
}
.imgrig .imgcon:nth-child(3){
    transform: translate(20% ,10%) rotate(-5deg);
    background-image: url(three.jpg);
    background-position: center;
    background-size: cover;
}
#work{
    display: flex;
    position: absolute;
    width:100%;
    min-height:70vh;
    background-color: #F2F2F2;
    /* opacity: 20%; */
}
#arrow{
    position: absolute;
    width: 9.5vw;
    height:9.5vw;
    background-color: red;
    margin: 34vw 4vw;
    background-image: url(arrow1.jpg);
    background-size:cover;
    background-position: center;
    background-color: #F2F2F2;
    opacity: 5%;
}
#work #work1{
    height: 20vw;
    width: 40vw;
    /* background-color: red; */
    margin: 48vw 10vw;
    display: flex;
    justify-content: center;
}
#work1 h4{
    font-size: 15px;
    text-transform: uppercase;
    opacity: 15%;
    /* background-color:red; */
    height:max-content;
}
#work1 h1{
    font-size: 2vw;
    padding-top: 50px;
    margin-left: -70px;
    opacity: 55%;
}
#h{
    width: 50vw;
    height: 25vw;
    /* background-color: red; */
    position: absolute;
    margin-top: 70vw;
    margin-left: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#h h1{
    font-size: 8vw;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#h h1 span{
    color:rgb(79, 232, 181);
    font-style: italic;
}
#h1{
    width: 12vw;
    height: 12vw;
    /* background-color: yellow; */
    position: absolute;
    margin-top: 65vw;
    margin-left: 75vw;
    background-image: url(arrow2.jpg);
    background-size:cover;
    background-position: center;
    background-color: #F2F2F2;
    opacity: 3%;
}
#img{
    position: relative;
    width: 100%;
    margin-top: 87vw;
    margin-left: -767.54px;
}
#cnt{
    overflow: hidden;
    width: 45%;
    border-radius: 4.5%;
}
#cnt img{
    width: 105%;
    height: 90vh;
}
